.search-field {
  width: 100%;
  min-width: 300px;
}

.search-field mat-icon {
  color: rgba(0, 0, 0, 0.54);
}

.search-field button mat-icon {
  color: rgba(0, 0, 0, 0.38);
}

.search-field button:hover mat-icon {
  color: rgba(0, 0, 0, 0.87);
}
